<header>
    <a href="#" class="brand">Cervello</a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <div class="navigation-items">
            <a href="/">Home</a>
            <a href="/hotel">Our Hotels</a>
            <a href="/dining">Dining</a>
            <a href="/login">Features</a>
            <a href="/login">Booking</a>
            <a href="/login">New</a>
            <a href="/login">About Us</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
</header>
