<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dining.css">
    <title>Dining</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#" class="brand">Cervello</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="/">Home</a>
                <a href="/hotel">Our Hotels</a>
                <a href="/dining">Dinning</a>
                <a href="/login">Features</a>
                <a href="/login">Booking</a>
                <a href="/login">New</a>
                <a href="/login">About Us</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </header>
    <section class="locations-section">
        <h1>Our Restraunts</h1>
        <div class="locations-container">
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/sal/baa_sal_hotel-fnb-listing-card.jpg?revision=616cc937-4530-40ea-a21f-29e74ac53d4b"
                    alt="SAL">
                <h2>SAL</h2>
                <p>Unwind at our elegant beach club, seemingly floating over the glittering Gulf.</p>
                <a href="#">Read More</a>
            </div>
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/al-muntaha/baa_al-muntaha_hotel-fnb-listing-card.jpg?revision=23b9879a-e389-4feb-8921-232c6c0b677f"
                    alt="Al Muntaha">
                <h2>Al Muntaha</h2>
                <p>Michelin-starred French & Italian cuisine by Chef Saverio Sbaragli.</p>
                <a href="#">Read More</a>
            </div>
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/sahn-eddar/baa_sahn-eddar_hotel-fnb-listing-card/baa_sahn-eddar_hotel-fnb-listing-card__portrait.jpg"
                    alt="Sahn Eddar">
                <h2>Sahn Eddar</h2>
                <p>Evocative harpists views of Dubai's coastline set the stage for an elegant afternoon tea.</p>
                <a href="#">Read More</a>
            </div>
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/bab-al-yam/baa_bab-al-yam_hotel-fnb-listing-card.jpeg?revision=334eec23-a3d8-431c-b7a5-e5e1a4c712ec"
                    alt="South Lodge">
                <h2>Bab Al Yam</h2>
                <p>A serene open kitchen serving delicious Middle Eastern and European fusion.</p>
                <a href="#">Read More</a>
            </div>
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/gilt/baa_gilt_hotel-fnb-listing-card.jpeg?revision=b176d0fc-c1c4-4e9a-a0ac-14123e1b00eb"
                    alt="Fanhams Hall">
                <h2>Glit</h2>
                <p>Ascend for artful mixology and small plates set to shimmering views of Dubai.</p>
                <a href="#">Read More</a>
            </div>
            <div class="location-card">
                <img src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/restaurant-page/les-desserts/baa_les-desserts_hotel-fnb-listing-card.jpg?revision=726ad441-d070-40fb-8723-8c24e4d9bde0"
                    alt="South Lodge">
                <h2>Les Desserts</h2>
                <p>A world of exquisite pastries crafted by Chef Tom Coll.</p>
                <a href="#">Read More</a>
            </div>

        </div>
        <div class="home">
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <script>
        //responsive navigation menu
        const menuBtn = document.querySelector('.menu-btn');
        const navigation = document.querySelector('.navigation');

        menuBtn.addEventListener('click', () => {
            navigation.classList.toggle('active');
            menuBtn.classList.toggle('active');  // Ensure the button toggles its active state
        });
    </script>

</body>

</html>