<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery</title>
</head>

<body>
        <%- include('partials/navbar') %>
   
    <div>
        <div>
            <h1 class="heading">Our Gallery</h1>
        </div>
        <div class="grid-container">
            <div class="grid-item item1"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-3.jpg?h=1080&w=1620&revision=af7de40e-12d5-4e8c-baa4-5a2bbd36ac6d"
                    alt="Image 1"></div>
            <div class="grid-item item2"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-4.jpg?h=1280&w=1920&revision=9c534981-ff50-4979-bb7f-05dc29b07e7a"
                    alt="Image 2"></div>
            <div class="grid-item item3"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-5.jpg?h=1080&w=1620&revision=be561a9b-f6c2-453b-b06c-6e9a64c23d81"
                    alt="Image 3"></div>
        </div>

        <div class="grid-container7">
            <div class="grid-item item7"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-6.jpg?h=1280&w=1920&revision=d2696ee7-b92a-4193-beee-a1c5a705c098"
                    alt="Image 7"></div>
        </div>

        <div class="grid-container1">
            <div class="grid-item item4"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-9.jpg?h=1280&w=1920&revision=d801d281-c868-45fa-956b-9d11cef1fc57"
                    alt="Image 1"></div>
            <div class="grid-item item5"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-10.jpg?h=1080&w=1620&revision=a1ef317f-a982-4276-b5fb-cf395611dd1c"
                    alt="Image 2"></div>
            <div class="grid-item item6"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-11.jpg?h=1280&w=1920&revision=76689b2a-0da5-4729-b8d3-7884e0e05f1e"
                    alt="Image 3"></div>

        </div>

        <div class="grid-container">
            <div class="grid-item item1"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-12.jpg?h=1280&w=1920&revision=4a371e67-4aad-42c3-9912-4f59de3c73f8"
                    alt="Image 1"></div>
            <div class="grid-item item2"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-13.jpg?h=1080&w=1620&revision=d2fe5d43-c718-4e3f-8096-5113246d64ba"
                    alt="Image 2"></div>
            <div class="grid-item item3"><img
                    src="https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/jumeirah-burj-al-arab/new-website-content/gallery-page/baa/baa_gallery_new-image-14.jpg?h=1280&w=1920&revision=6a33f875-d48e-45b1-b2e0-90eb30d5f38e"
                    alt="Image 3"></div>
        </div>

    </div>
    
</body>

</html>